@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Solway:wght@300;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/oliver-2');

main h2 {
    text-align: center;
    margin-top: 3.5rem;
    font-family: "Oliver";
    font-size: 3rem;

}

/* ----------- FLAUTA DE PAN ----------- */
.panfluteMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panfluteSet {
    position: relative;
    display: flex;
    justify-content: center;

    margin: 1rem;
    padding: 1rem;
}

.panflute {
    width: 65rem;
    padding: 1rem;
}

.panfluteTubes {
    display: flex;
}

.panfluteTubes .tube:hover {
    opacity: 0.8;
    cursor: pointer;
}

.panfluteTubes .tube {
    list-style: none;
    width: 5rem;
    border-radius: 4px;
    background: linear-gradient(to right, #865d1f 0%, #f7ddc2 40%, #f8be71 60%, #d46049 100%);

}

/* ----------- FLAUTA DE PAN - RECTANGULO AZUL ----------- */
.panfluteBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66rem;
    height: 4.5rem;

    border: 2px solid var(--color-brown);
    border-radius: 10px;
    background: radial-gradient(circle farthest-corner at 10% 20%,  #213d49 0%, #000405 90% );
    
    position: absolute;

    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
}

.notesBox-text {
    list-style: none;
    display: flex;
    margin-top: 0.6rem;
    gap: 2.355rem;

    z-index: 1;
    position: relative;
}

.notesBox-text li {
    color: var(--green-black);
    background-color: #f7ddc2;
    border-radius: 0.2rem;

    font-size: 0.75rem;
    text-align: center;
    font-weight: 600;
    width: 2rem;
    
}

.rectangleTop {
    width: 66rem;
    height: 0.25rem;

    background-color: var(--color-orange);

    bottom: 3.5rem;
    left: 0;
    position: absolute;
    z-index: 0;

}

.keyboardBox-text {
    list-style: none;
    display: flex;
    margin-top: 1.8rem;
    gap: 2.355rem;
    z-index: 1;
    position: relative;
}

.keyboardBox-text li {
    color: var(--green-black);
    background-color: #f7ddc2;
    border-radius: 0.2rem;

    font-size: 0.75rem;
    text-align: center;
    font-weight: 600;
    width: 2rem;
}
.iconRotate {
    display: none;
}

.rectangleBottom {
    width: 66rem;
    height: 0.25rem;
    background-color: var(--color-green);

    bottom: 0.85rem;
    left: 0;
    position: absolute;
    z-index: 0;

}

/* ----------- INFORMACIÓN ADICIONAL ----------- */
.info {
    margin-bottom: 4rem;
}
.info section{
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 2.5rem;
    margin: 1rem;
    text-align: justify;
    line-height: 1.2rem;
}

/* ----------- INFORMACIÓN INSTRUMENTO ----------- */

.firstSteps, .instruSection {
    flex: 1;
}

.firstSteps li::before {
    content: '• ';
    width: 0.5rem;
    margin-left: 0.5rem;
}

.secondSection, .firstSection {
    display: flex;
    justify-content: space-evenly;
    margin-left: 3rem;
    margin-right: 3rem;
}

.firstTrack, .videoSection {
    flex: 1;
}

.instruSection h2 {
    line-height: 1.5rem;
}

/* ----------- VIDEOS RELACIONADOS ----------- */
.videoSection {
    margin-left: 3rem;
    display: flex;
}

.justVideos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justVideos iframe {
    width: 90%;
    height: 100%;
}

.videoButton {
    align-self: flex-start;
    margin-right: 2.5rem;
    padding: 0.3rem 1rem;
    background-color: var(--color-brown);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    margin-top: 1.5rem;

    cursor: pointer;
}

.videoButton:hover {
    background-color: var(--color-beage);
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (max-width: 768px) {
    .panfluteSet{
        margin: 0;
        padding: 0;
    }
    .panflute {
        width: 23.5rem;
    }
    .panfluteBox {
        width: 24rem;
    }
    .iconRotate {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;
        margin-right: 3rem;
    }
    .info section{
        padding: 1.5rem;
        margin: 0;
    }
    .iconRotate img {
        width: 5.5rem;
        position: absolute;
        top: 30rem;
        
    }

    .firstSection {
        flex-direction: column;
        align-items: center;
    }
    
    .firstTrack {
        margin-left: 0;
    }

    .firstTrack{
        margin-left: 0;
    }

    .secondSection {
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
    }

    .videoSection {
        margin-left: 0;
    }

    .videoButton {
        margin-top: 0.5rem;
    }

    .notesBox-text {
        margin-top: 1.8rem;
        gap: 0.4rem;
        
    }

    .notesBox-text li {
        width: 1.2rem;
        font-size: 0.6rem;
    }

    .rectangleTop {
        width: 24rem;
        height: 0.15rem;
        bottom: 2.3rem;
    }

    .keyboardBox {
        display: none;
    }

    .rectangleBottom{
        display: none;
    }

}
/* media query para modo horizontal */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    .titleHeader{
        display: none;
    }
    .panflute {
        width: 48rem;
    }

    .panfluteBox {
        width: 49rem;
    }
    .iconRotate {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;
        margin-right: 6rem;
    }

    .iconRotate img {
        width: 7rem;
        position: absolute;
        top: 40rem;
        
    }

    .firstSection {
        flex-direction: column;
        align-items: center;
    }
    .firstSteps {
        margin-left: 0;
    }

    .firstTrack {
        margin-left: 0;
    }

    .secondSection {
        flex-direction: column;
        align-items: stretch;

        gap: 2rem;
    }

    .videoSection {
        margin-left: 0;
    }

    .videoButton {
        margin-top: 0.5rem;
    }

    .notesBox-text {
        margin-top: 1.8rem;
        gap: 0.8rem;
    }

    .notesBox-text li {
        width: 2.4rem;
        font-size: 1.2rem;
    }

    .rectangleTop {
        width: 49rem;
        bottom: 2.2rem;
    }

    .keyboardBox {
        display: none;
    }

    .rectangleBottom{
        display: none;
    }
    
    /* --- FOOTER ---*/
    .termsConditions{
        display: none;
    }
}
