@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Solway:wght@300;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/oliver-2');

:root {
    --color-orange: #FF765A;
    --color-green-black: #213D49;
    --color-beage: #FCF5ED;
    --color-brown: #D8B28E;
    --color-yellow: #F8BE71;
    --color-green: #59BB88;
    --font-h1-d: 700 80px 'Solway', sans-serif;      
	--font-h2-d: 300 30px 'Solway', sans-serif;
	--font-h3-d: 300 20px 'Solway', sans-serif;
	--font-p-d: 300 20px 'Solway', sans-serif;
}

* {
	font-family: 'Solway', sans-serif;
	text-decoration: none;
	background-color: var(--color-beage);
}