@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Solway:wght@300;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/oliver-2');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


:root {
    --color-orange: #FF765A;
    --color-green-black: #213D49;
    --color-beage: #FCF5ED;
    --color-brown: #D8B28E;
    --color-yellow: #F8BE71;
    --color-green: #59BB88;
    --font-h1-d: 700 4rem 'Solway', sans-serif;      
	--font-h2-d: 300 30px 'Solway', sans-serif;
	--font-h3-d: 300 20px 'Solway', sans-serif;
	--font-p-d: 300 1.5rem 'Solway', sans-serif;
}

* {
	text-decoration: none;
}

body {
    font-family: 'Solway', sans-serif;
    background: var(--color-beage);
}

/* HEADER */
header {
    background-color: var(--color-yellow);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleLogo {
    display: flex;
    justify-content: space-between;
}

.bigTitle {
    font-family: 'Oliver', sans-serif;
    font-size: 1.8rem;
    margin-left: 0.9rem;
    margin-top: 1rem;
}
.smallTitle {
    font-family: 'Oliver', sans-serif;
    font-size: 0.8rem;
    margin-left: 2rem;
}
.logo {
    margin-left: 50px;
}
.logo img {
    max-height: 70px; 
}
.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menu{
    display: flex;
}
.navList ul li {
    margin-right: 30px;
}
.navHeader1{
    margin-right: 2.5em;
    color: var(--color-green-black);
    padding: 0.3em 1em;
    background-color: var(--color-beage);
    border-radius: 20px;
    transition: background-color 0.3s ease;
} 
.navHeader{
    color: var(--color-green-black);
    padding: 0.3em 1em;
    background-color: var(--color-beage);
    border-radius: 20px;
    transition: background-color 0.3s ease;
    
} 
.navList ul li a:hover {
    background-color: var(--color-brown);
}

.menuBurger {
    display: none;
}

/* PÁGINA HOME */

.hmImage img{
    width: 25rem;
    height: 25rem;
    border: 1px solid #000;
    padding: 20px;
    margin: 20px;
    flex: 1;
}

.hmDescriptive {
    /* width: 39rem; */
    font-family: 'Solway', sans-serif;
    flex: 1;
    padding: 2rem;
    width: auto;
    
}

.hmDescriptive h1{
    font-family: 'Oliver', sans-serif;
    font-size: 4rem;
    flex: 1;
}

.hmDescriptive h2 {
    font-family: 'Oliver', sans-serif;
    font-size: 1.5rem;
    padding-left: 2rem;
    flex: 1;
}

.hmDescriptive p{
    text-align: justify;
    margin: 2rem;
    font-size: 1.5rem;
    flex: 1;
}
.hmText {
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
}


/* carrusel*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.carouselContainer {
    position: relative;
    overflow: hidden;
    width: 65%;    
}

.carouselSlide {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    object-fit: cover;
}

.carouselSection{
    width: 90%;
    height: 60%;
    object-fit: cover;

}

.carouselSection img {
    width: 30rem;
    height: 90%;
    object-fit: cover;
}


.btnLeft,
.btnRight{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    border-radius: 50%;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btnLeft{
    left: 10px;
}
.btnRight{
    right: 10px;
}

.btnLeft:hover,
.btnRight:hover{
    background-color: #9dadb4;
    color: aliceblue;
}

/* ---------- página Sobre Nosotras --------------- */

.hmDescriptive {
    text-align: center;
}
.hmDescriptive h1 {
    font-family: 'Oliver', sans-serif;
    font-size: 4rem;
}
#generalText {
    text-align: justify;
    margin: 1rem;
    font-size: 20px;
    flex: 1 1 0%;
}

.teachers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.teacher {
        width: 150px;
        margin: 1px;
        position: relative;
}

.teacher img {
    width: 100%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.teacher p {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
}

#teacher1{
    color:#26B334
}
#teacher2{
    color:#E724EB
}
#teacher3{
    color:#EB5424
}
#teacher4{
    color:#7A78E9
}
#teacher5{
    color:#35763C
}
#teacher6{
    color:#36B7B7
}





/* ---------- página construcción --------------- */
.constructionMain {
    text-align: center;
    padding: 3rem;
}

.constructionImage{
    display: flex;
    justify-content: space-around;

}
.constructionImage img {
    width: 25rem;
}

/* .constructionDesc  {
    margin: 1.5rem 1rem 2.5rem;
    font-size: 7.5rem;
    color: #ff765a;
    margin-left: 2.8rem;
} */
.fas.fa-triangle-exclamation{
    margin: 2.5rem;
    font-size: 12rem;
    color: #ff765a;
}
.fas.fa-arrow-left{
    font-size: 8rem;
    color: #ff765a;
    margin-top: 1.5rem;
}

.constructionText h1{
    font-family: 'Oliver', sans-serif;
    font-size: 4rem;
    margin: 1rem;
    
}

.constructionText p{
    margin: 1rem;
    font-size: 1.5rem;
}

.constructionText, .back-icon i {
    cursor: pointer;
    margin: 0.5rem;
}



/* footer */
footer {
    background-color: var(--color-yellow);
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-family: "Space Mono", sans-serif;
}


a {
    text-decoration: none;
    color: black;
}

.socialNetworks {
    margin-left: 2rem;
}
.socialNetworks i {
        margin-left: 0.3rem;
    font-size: 16px;

}

.termsConditions {
    width: 40rem;
    display: flex;
    background-color: var(--color-yellow);
    justify-content: space-around;

}

.contact {
    display: flex;
    margin-right: 2em;
    width: 14rem;
    justify-content: space-around;

}

/* --------------------- MEDIA QUERIES ---------------------- */
@media screen and (max-width: 768px) {
    /* --------HEADER--------- */

    .menuBurger {
        display: block;
        position: absolute;
        color: var(--color-beage);
        font-size: 3rem;
        margin-left: 307px;
        margin-top: 10px;
    }
    .logo img{
        width: 90%;
    }
    .titleHeader {
        display: none; 
    }

    .menu {
        display: none;
        position: fixed;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-end;
        top: 80px;
        position: absolute;
    }
    
    .menu.show{
        display: block;
    }
    
    .navList ul li {
        background-color: var(--color-yellow);
        padding: 30px;
        font-size: 20px;
}

    .navHeader, .navHeader1 {
        background-color: var(--color-yellow);
        text-align: center;
    }

    /* ------MAIN------ */
    .hmText {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        align-items: baseline;
    }

    .hmDescriptive {
        font-size: 90%;
        padding: 0.5rem;
    }

    .hmDescriptive h1{
        font-size: 3rem;
        margin: 1rem;
    }
    .hmDescriptive h2{
        font-size: 1rem;
        text-align: center;
        padding-left: 0;
    }

    .hmText p{
        margin: 1rem;
    }
    .hmImage{
        width: 80%;
        display: flex;

    }

    .hmImage img{
        width: 100%;
        margin: 1rem 0;
        height: auto;
    }

    /* -----CARROUSEL----- */
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* padding: 20px; */
    }
    
    .carouselContainer {
        position: relative;
        width: 25rem;
        /* overflow: hidden; */
    }
    
    .carouselSlide {
        width: 400%;
        display: flex;
        justify-content: space-between;
        gap: 0
    }
    
    .carouselSection{
        width: calc(100% /4);
        height: 100%;
        
    }
    
    .carouselSection img {
        width: 25rem;
        height: 90%;
        object-fit: cover;
    }


    /* ------SOBRE NOSOTRAS------ */
    .hmDescriptive.aboutUs{
        margin: 2.5rem;
        padding: 2rem;
        /* position: fixed; */
    }

    .hmDescriptive.aboutUs h1{
        font-size: 2.5rem;
    }

    .teachers{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        width: auto;
    }

    .teacher{
        margin: 2rem 0;
        padding: 0;
        align-items: center;
    }

    .teacher img{
        height: 20rem;
    }

    .teacher p{
        text-align: justify;
        margin: 1.5rem 0;
        width: auto;
    }


    /* ------CONSTRUCCION------ */
    .constructionMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 1rem;
    }
    .constructionImage img {
        padding-bottom: 0;
        width: 20rem;
        margin: 2rem 0
    }

    .piano, .guitarra {
        display: none;
    }

    .constructionDesc {
        margin: 0;
    }

    .constructionDesc i{
        margin: 1.5rem;
        font-size: 10rem;
    }

    .constructionText {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    }
    .constructionText h1 {
        font-size: 3rem;
    }
    
    #btnBack {
        /* padding: 0.3rem; */
        font-size: 6rem;
    } 


    /* ------FOOTER------ */
    .socialNetworks i{
        font-size: 15px;

    }
    .termsConditions {
        display: none;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
    }
}