.one {
    height: 24rem;
}

.two {
    height: 23rem;
}

.three {
    height: 22rem;
}

.four {
    height: 21rem;
}

.five {
    height: 20rem;
}

.six {
    height: 19rem;
}

.seven {
    height: 18rem;
}

.eight {
    height: 17rem;
}

.nine {
    height: 16rem;
}

.ten {
    height: 15rem;
}

.eleven {
    height: 14rem;
}

.twelve {
    height: 13rem;
}

.thirteen {
    height: 12rem;
}

.fourteen {
    height: 11rem;
}

.fifteen {
    height: 10rem;
}